<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<th:block layout:fragment="content">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mt-2">Cotizaciones en Evaluaci&oacute;n</h4>
                    <div class="table-responsive">
                        <table class="table table-centered table-hover mb-0" id="example">
                            <thead>
                                <tr>
                                    <th>Empresa</th>
                                    <th>Fecha Ingreso</th>
                                    <th>Fecha de Entrega</th>
                                    <th>Referencia</th>
                                    <th>Monto</th>
                                    <th class="text-right">Aprobar / Rechazar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="quote : ${quoteList}">
                                    <td th:text="${quote.company.name}"/>
                                    <td class="text-center" th:text="${#temporals.format(quote.entryDate, 'dd/MM/yyyy')}"/>
                                    <td class="text-center" th:text="${#temporals.format(quote.deliveryDate, 'dd/MM/yyyy')}"/>
                                    <td th:text="${quote.reference}"/>
                                    <td th:text="${#numbers.formatDecimal(quote.amount, 0, 'POINT', 0, 'COMMA')}"/>
                                    <td class="text-right">
                                        <a th:href="@{/admin/dashboard/approve/__${quote.quoteId}__}" class="btn btn-info"><i class="mdi mdi-comment-check-outline"></i> Aprobar</a>&nbsp;
                                        <a th:href="@{/admin/dashboard/reject/__${quote.quoteId}__}" class="btn btn-danger"><i class="mdi mdi-comment-remove-outline"></i> Rechazar</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script>
        $(document).ready(function() {
            $('#example').DataTable( {
                responsive: true,
                /*dom: 'Bfrtip',*/
                dom:"<'row'<'col-sm-3'l><'col-sm-6 botones text-center'B><'col-sm-3'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-7'i><'col-sm-5'p>>",
                buttons: [
                    'copy', 'excel', 'pdf'
                ], "language": {
                    "lengthMenu": "Mostrando _MENU_ registros por p&aacute;gina",
                    buttons: {
                        copy: 'Copiar'
                    },
                    "zeroRecords": "Sin resultados - lo siento!",
                    "info": "Mostrando p&aacute;gina _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros disponibles",
                    "search": "Buscar",
                    "infoFiltered": "(filtrados de _MAX_ registros totales)",
                    "paginate": {
                        "previous": "Anterior",
                        "next": "Siguiente"
                    }
                }
            });
        } );
    </script>
</th:block>
</html>