<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<th:block layout:fragment="content">
    <input type="hidden" id="quoteId" name="quoteId" value="" />
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mt-2">Cotizaciones en Evaluaci&oacute;n</h4>
                    <div class="table-responsive">

                        <table class="table table-centered table-hover mb-0" id="quote-review-table">
                            <thead>
                                <tr>
                                    <th># Cotizaci&oacute;n</th>
                                    <th>Empresa</th>
                                    <th>Fecha Ingreso</th>
                                    <th>Fecha de Entrega</th>
                                    <th>Referencia</th>
                                    <th>Monto</th>
                                    <th class="text-right">&nbsp;</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mt-2">OT para Despacho</h4>
                    <div class="table-responsive">
                        <table class="table table-centered table-hover mb-0" id="quote-delivery-table">
                            <thead>
                            <tr>
                                <th># Cotizaci&oacute;n</th>
                                <th>Empresa</th>
                                <th>Fecha Ingreso</th>
                                <th>Fecha de Entrega</th>
                                <th>Referencia</th>
                                <th>Monto</th>
                                <th class="text-right">&nbsp;</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="deliveryQuoteDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="primary-header-modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-colored-header bg-primary">
                    <h4 class="modal-title">Confirmar Despacho Cotizaci&oacute;n</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="commentsDelivery">Comentarios:</label>
                        <textarea class="form-control" id="commentsDelivery" name="commentsDelivery" placeholder="Comentarios" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"  id="deliveryQuote">Confirmar Despacho</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Volver</button>
                </div>
            </div>
        </div>
    </div>

    <div id="returnQuoteDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="primary-header-modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-colored-header bg-primary">
                    <h4 class="modal-title">Confirmar Devoluci&oacute;n Cotizaci&oacute;n</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="commentsReturn">Comentarios:</label>
                        <textarea class="form-control" id="commentsReturn" name="commentsReturn" placeholder="Comentarios" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="returnQuote">Confirmar Devoluci&oacute;n</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="reprocessQuote">Confirmar Reingreso</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Volver</button>
                </div>
            </div>
        </div>
    </div>
    <form id="frmReview" method="post" th:action="@{/admin/review}">
        <input id="quoteReviewId" name="quoteReviewId" type="hidden"/>
    </form>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function() {
            $('#quote-review-table').DataTable( {
                responsive: true,
                ajax: '/api/quote/reviewList',
                columns: [
                    {
                        'data': 'quoteCode',
                        'searchable': false,
                        'sortable': false,
                        'fnCreatedCell': function (nTd, sData, oData, iRow, iCol) {
                            $(nTd).addClass('text-left');
                            $(nTd).html(
                                '<a id="downloadPdf_' + oData.quoteCode + '" href="/quote/downloadQuotePdf?quoteId='+oData.quoteId+'">'+oData.quoteCode+'</a>');
                        }
                    },
                    {'data': 'company'},
                    {'data': 'entryDate', 'className': 'text-center',
                        'render': function(data, type) { return type === 'sort' ? moment(data, 'DD/MM/YYYY', true).format('YYYYMMDD') : data }},
                    {'data': 'deliveryDate', 'className': 'text-center',
                        'render': function(data, type) { return type === 'sort' ? moment(data, 'DD/MM/YYYY', true).format('YYYYMMDD') : data }},
                    {'data': 'reference'},
                    {'data': 'amount', 'className': 'text-right'},
                    {
                        'data': null,
                        'searchable': false,
                        'sortable': false,
                        'fnCreatedCell': function (nTd, sData, oData, iRow, iCol) {
                            $(nTd).addClass('text-right');
                            $(nTd).html('<a id="review_' + oData.quoteId + '" href="#" onclick="reviewQuote(' + oData.quoteId + ')" class="btn btn-info quoteReview"><i class="mdi mdi-comment-check-outline"></i> Revisar</a>')
                        }
                    }
                ],
                dom: "<'row'<'col-sm-3'l><'col-sm-6 botones text-center'B><'col-sm-3'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-7'i><'col-sm-5'p>>",
                buttons: [
                    {
                        extend: 'excel',
                        text: 'Excel',
                        className: 'btn btn-default',
                        title: 'Cotizaciones',
                        exportOptions: {
                            columns: ':visible:not(:last-child)'
                        }
                    },
                    {
                        extend: 'pdf',
                        text: 'Pdf',
                        className: 'btn btn-default',
                        title: 'Cotizaciones',
                        exportOptions: {
                            columns: ':visible:not(:last-child)'
                        }
                    }
                ],
                language: {
                    lengthMenu: "Mostrando _MENU_ registros por p&aacute;gina",
                    zeroRecords: "Sin resultados - lo siento!",
                    info: "Mostrando p&aacute;gina _PAGE_ de _PAGES_",
                    infoEmpty: "No hay registros disponibles",
                    search: "Buscar",
                    infoFiltered: "(filtrados de _MAX_ registros totales)",
                    paginate: {
                        previous: "Anterior",
                        next: "Siguiente"
                    }
                }
            });

            $("#quote-review-table tbody").on('click', 'a', function(){
                var quoteId = $(this).attr('id');
                var id = quoteId.split("_");
                $("#quoteId").val(id[1]);
            });

            $('#quote-delivery-table').DataTable( {
                responsive: true,
                ajax: '/api/quote/deliveryList',
                columns: [
                    {
                        'data': 'quoteCode',
                        'searchable': false,
                        'sortable': false,
                        'fnCreatedCell': function (nTd, sData, oData, iRow, iCol) {
                            $(nTd).addClass('text-left');
                            $(nTd).html(
                                '<a id="downloadPdf_' + oData.quoteCode + '" href="/quote/downloadQuotePdf?quoteId='+oData.quoteId+'">'+oData.quoteCode+'</a>');
                        }
                    },
                    {'data': 'company'},
                    {'data': 'entryDate', 'className': 'text-center',
                        'render': function(data, type) { return type === 'sort' ? moment(data, 'DD/MM/YYYY', true).format('YYYYMMDD') : data }},
                    {'data': 'deliveryDate', 'className': 'text-center',
                        'render': function(data, type) { return type === 'sort' ? moment(data, 'DD/MM/YYYY', true).format('YYYYMMDD') : data }},
                    {'data': 'reference'},
                    {'data': 'amount', 'className': 'text-right'},
                    {
                        'data': null,
                        'searchable': false,
                        'sortable': false,
                        'fnCreatedCell': function (nTd, sData, oData, iRow, iCol) {
                            $(nTd).addClass('text-right');
                            $(nTd).html(
                                '<a id="delivered_' + oData.quoteId + '" href="#" class="btn btn-info deliveryReturnQuote" data-toggle="modal" data-target="#deliveryQuoteDialog"><i class="mdi mdi-comment-check-outline"></i> Entregada</a>&nbsp;' +
                                '<a id="returned_' + oData.quoteId +'" href="#" class="btn btn-danger deliveryReturnQuote" data-toggle="modal" data-target="#returnQuoteDialog"><i class="mdi mdi-comment-remove-outline"></i> Devuelta</a>');
                        }
                    }
                ],
                dom: "<'row'<'col-sm-3'l><'col-sm-6 botones text-center'B><'col-sm-3'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-7'i><'col-sm-5'p>>",
                buttons: [
                    {
                        extend: 'excel',
                        text: 'Excel',
                        className: 'btn btn-default',
                        title: 'Cotizaciones',
                        exportOptions: {
                            columns: ':visible:not(:last-child)'
                        }
                    },
                    {
                        extend: 'pdf',
                        text: 'Pdf',
                        className: 'btn btn-default',
                        title: 'Cotizaciones',
                        exportOptions: {
                            columns: ':visible:not(:last-child)'
                        }
                    }
                ],
                language: {
                    lengthMenu: "Mostrando _MENU_ registros por p&aacute;gina",
                    zeroRecords: "Sin resultados - lo siento!",
                    info: "Mostrando p&aacute;gina _PAGE_ de _PAGES_",
                    infoEmpty: "No hay registros disponibles",
                    search: "Buscar",
                    infoFiltered: "(filtrados de _MAX_ registros totales)",
                    paginate: {
                        previous: "Anterior",
                        next: "Siguiente"
                    }
                }
            });

            $("#quote-delivery-table tbody").on('click', 'a', function(){
                var quoteId = $(this).attr('id');
                var id = quoteId.split("_");
                $("#quoteId").val(id[1]);
            });

            $("#deliveryQuote").on('click', function(){
                $.ajax({
                    url: '/api/quote/delivery',
                    type: "post",
                    data: { quoteId: $("#quoteId").val(), userId: /*[[${session.username}]]*/ 'default', comments: $("#commentsDelivery").val() },
                    dataType: "json",
                    success: function (data) {
                        $("#commentsDelivery").val('');
                        $('#quote-delivery-table').DataTable().ajax.reload();
                    },
                    error: function () {
                    }
                });
            });

            $("#returnQuote").on('click', function(){
                $.ajax({
                    url: '/api/quote/return',
                    type: "post",
                    data: { quoteId: $("#quoteId").val(), userId: /*[[${session.username}]]*/ 'default', comments: $("#commentsReturn").val() },
                    dataType: "json",
                    success: function (data) {
                        $("#commentsReturn").val('');
                        $('#quote-delivery-table').DataTable().ajax.reload();
                    },
                    error: function () {
                    }
                });
            });

            $("#reprocessQuote").on('click', function(){
                $.ajax({
                    url: '/api/quote/reprocess',
                    type: "post",
                    data: { quoteId: $("#quoteId").val(), userId: /*[[${session.username}]]*/ 'default', comments: $("#commentsReturn").val() },
                    dataType: "json",
                    success: function (data) {
                        $("#commentsReturn").val('');
                        $('#quote-delivery-table').DataTable().ajax.reload();
                        $('#quote-review-table').DataTable().ajax.reload();
                    },
                    error: function () {
                    }
                });
            });
        } );

        function reviewQuote(quoteId){
            $("#quoteReviewId").val(quoteId);
            $('form#frmReview').submit();
        }
    </script>
</th:block>
</html>