<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<th:block layout:fragment="welcome">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Producci&oacute;n</a></li>
                        <li class="breadcrumb-item active">Estado Ordenes de Producción</li>
                    </ol>
                </div>
                <h4 class="page-title">Estado Ordenes de Producci&oacute;n</h4>
            </div>
        </div>
        <div class="col-12">

        </div>
    </div>
</th:block>

<th:block layout:fragment="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Mueva las ordenes de Producci&oacute;n en caso de que necesite avanzar o retroceder de proceso.</h4>
                    <p class="text-muted font-14 mb-3">
                        Tome las ordenes individualmente desde la zona puntuada para desplazarlas.
                    </p>

                    <div class="row" data-plugin="dragula" data-containers="[&quot;corte-plegado&quot;, &quot;produccion&quot;, &quot;armado&quot;, &quot;despacho&quot;]" data-handleclass="dragula-handle">
                        <div class="col-md-3">
                            <div class="bg-light p-2 p-lg-4">
                                <h5 class="mt-0">CORTE - PLEGADO</h5>
                                <div id="corte-plegado" class="py-2">
                                    <div class="card mb-0 mt-2" th:each="quote : ${cutQuoteList}">
                                        <div class="card-body">
                                            <div class="media">
                                                <div class="media-body">
                                                    <h5 class="mb-1 mt-1" th:text="${quote.quoteId}"/>
                                                    <p class="mb-0" th:text="${quote.company.name}"/>
                                                    <p class="mb-0" th:text="${quote.entryDate}"/>
                                                </div>
                                                <span class="dragula-handle"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="bg-light p-2 p-lg-4">
                                <h5 class="mt-0">PRODUCCI&Oacute;N</h5>
                                <div id="produccion" class="py-2">
                                    <div class="card mb-0 mt-2" th:each="quote : ${productionQuoteList}">
                                        <div class="card-body">
                                            <div class="media">
                                                <div class="media-body">
                                                    <h5 class="mb-1 mt-1" th:text="${quote.quoteId}"/>
                                                    <p class="mb-0" th:text="${quote.company.name}"/>
                                                    <p class="mb-0" th:text="${quote.entryDate}"/>
                                                </div>
                                                <span class="dragula-handle"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="bg-light p-2 p-lg-4">
                                <h5 class="mt-0">ARMADO</h5>
                                <div id="armado" class="py-2">
                                    <div class="card mb-0 mt-2" th:each="quote : ${buildQuoteList}">
                                        <div class="card-body">
                                            <div class="media">
                                                <div class="media-body">
                                                    <h5 class="mb-1 mt-1" th:text="${quote.quoteId}"/>
                                                    <p class="mb-0" th:text="${quote.company.name}"/>
                                                    <p class="mb-0" th:text="${quote.entryDate}"/>
                                                </div>
                                                <span class="dragula-handle"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="bg-light p-2 p-lg-4">
                                <h5 class="mt-0">DESPACHO</h5>
                                <div id="despacho" class="py-2">

                                    <div class="card mb-0 mt-2" th:each="quote : ${deliveryQuoteList}">
                                        <div class="card-body">
                                            <div class="media">
                                                <div class="media-body">
                                                    <h5 class="mb-1 mt-1" th:text="${quote.quoteId}"/>
                                                    <p class="mb-0" th:text="${quote.company.name}"/>
                                                    <p class="mb-0" th:text="${quote.entryDate}"/>
                                                </div>
                                                <span class="dragula-handle"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>