<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<th:block layout:fragment="content">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mt-2">Ordenes de Trabajo en curso</h4>
                    <div class="table-responsive">
                        <table class="table table-centered table-hover mb-0" id="example">
                            <thead>
                            <tr>
                                <th># Cotizaci&oacute;n</th>
                                <th># Orden de Trabajo</th>
                                <th>Empresa</th>
                                <th>Estado</th>
                                <th>Fecha de Entrega</th>
                                <th>Di&aacute;s Restantes</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="quote : ${quoteList}">
                                <td th:text="${quote.quoteCode}"/>
                                <td th:text="${quote.workOrderCode}"/>
                                <td th:text="${quote.company.name}"/>
                                <td th:text="${quote.status.getDescription()}"/>
                                <td class="text-center" th:text="${#temporals.format(quote.deliveryDate, 'dd/MM/yyyy')}"/>
                                <td th:text="${quote.reference}"/>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script>
        $(document).ready(function() {
            $('#example').DataTable( {
                responsive: true,
                /*dom: 'Bfrtip',*/
                dom:"<'row'<'col-sm-3'l><'col-sm-6 botones text-center'B><'col-sm-3'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-7'i><'col-sm-5'p>>",
                buttons: [
                    'copy', 'excel', 'pdf'
                ], "language": {
                    "lengthMenu": "Mostrando _MENU_ registros por p&aacute;gina",
                    buttons: {
                        copy: 'Copiar'
                    },
                    "zeroRecords": "Sin resultados - lo siento!",
                    "info": "Mostrando p&aacute;gina _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros disponibles",
                    "search": "Buscar",
                    "infoFiltered": "(filtrados de _MAX_ registros totales)",
                    "paginate": {
                        "previous": "Anterior",
                        "next": "Siguiente"
                    }
                }
            });
        } );
    </script>
</th:block>
</html>