<th:block xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>Sistema de gesti&oacute;n Indumelec</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Indumelec, Sistema de Gestión, App" name="description" />
        <meta content="Zetalabs S.A." name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" th:href="@{/images/favicon.ico}">

        <!-- third party css -->
        <link th:href="@{/css/vendor/jquery-jvectormap-1.2.2.css}" rel="stylesheet" type="text/css" />
        <!-- third party css end -->

        <!-- App css -->
        <link th:href="@{/css/icons.min.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/css/app.min.css}" rel="stylesheet" type="text/css" />
    </head>
</th:block>