<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<th:block layout:fragment="content">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mt-2">Ordenes de Trabajo en curso</h4>
                    <div class="table-responsive">
                        <table class="table table-centered table-hover mb-0" id="quote-table">
                            <thead>
                            <tr>
                                <th># Cotizaci&oacute;n</th>
                                <th># Orden de Trabajo</th>
                                <th>Empresa</th>
                                <th>Estado</th>
                                <th>Fecha de Entrega</th>
                                <th>Di&aacute;s Restantes</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script>
        $(document).ready(function() {
            $('#quote-table').DataTable( {
                responsive: true,
                ajax: '/api/quote/pendingList',
                columns: [
                    {
                        'data': 'quoteCode',
                        'searchable': false,
                        'sortable': false,
                        'fnCreatedCell': function (nTd, sData, oData, iRow, iCol) {
                            $(nTd).addClass('text-left');
                            $(nTd).html(
                                '<a id="downloadPdf_' + oData.quoteCode + '" href="/quote/downloadQuotePdf?quoteId='+oData.quoteId+'">'+oData.quoteCode+'</a>');
                        }
                    },
                    {'data': 'workOrder'},
                    {'data': 'company'},
                    {'data': 'status', 'className': 'text-center'},
                    {'data': 'deliveryDate', 'className': 'text-center'},
                    {'data': 'daysLeft', 'className': 'text-right'}
                ],
                dom: "<'row'<'col-sm-3'l><'col-sm-6 botones text-center'B><'col-sm-3'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-7'i><'col-sm-5'p>>",
                buttons: [
                    {
                        extend: 'excel',
                        text: 'Excel',
                        className: 'btn btn-default',
                        title: 'Ordenes',
                        exportOptions: {
                            columns: ':visible:not(:last-child)'
                        }
                    },
                    {
                        extend: 'pdf',
                        text: 'Pdf',
                        className: 'btn btn-default',
                        title: 'Ordenes',
                        exportOptions: {
                            columns: ':visible:not(:last-child)'
                        }
                    }
                ],
                language: {
                    lengthMenu: "Mostrando _MENU_ registros por p&aacute;gina",
                    zeroRecords: "Sin resultados - lo siento!",
                    info: "Mostrando p&aacute;gina _PAGE_ de _PAGES_",
                    infoEmpty: "No hay registros disponibles",
                    search: "Buscar",
                    infoFiltered: "(filtrados de _MAX_ registros totales)",
                    paginate: {
                        previous: "Anterior",
                        next: "Siguiente"
                    }
                }
            });
        } );
    </script>
</th:block>
</html>