<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<th:block layout:fragment="content">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mt-2">Ordenes de Trabajo en curso</h4>
                    <div class="table-responsive">
                        <table class="table table-centered table-hover mb-0" id="quote-table">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="quoteHistory" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="primary-header-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header modal-colored-header bg-primary">
                    <h4 class="modal-title">Historial OT</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <h5 class="mt-0 text-dark">Detalles</h5>

                    <table class="table table-centered table-hover mb-0" id="quote-history" style="width:100%">
                        <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Descripci&oacute;n</th>
                            <th>Comentarios</th>
                            <th>Usuario</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="deliveryDateDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="primary-header-modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-colored-header bg-primary">
                    <h4 class="modal-title">Confirmar Actualizaci&oacute;n de Fecha</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <input id="quoteId" type="hidden"/>
                    <div class="form-group">
                        <label for="deliveryDate">Nueva Fecha Entrega:</label>
                        <input type="text" class="form-control date" id="deliveryDate" name="deliveryDate" data-toggle="date-picker" data-single-date-picker="true" readonly="readonly" />
                    </div>
                    <div class="form-group">
                        <label for="commentsUpdate">Comentarios:</label>
                        <textarea class="form-control" id="commentsUpdate" name="commentsReturn" placeholder="Comentarios" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"  id="confirmUpdate">Confirmar Actualizaci&oacute;n</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Volver</button>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function() {
            $('#quote-table').DataTable( {
                responsive: true,
                ajax: '/api/quote/pendingList',
                columns: [
                    {
                        'title': "# Cotizaci&oacute;n",
                        'data': 'quoteCode',
                        'searchable': false,
                        'sortable': false,
                        'fnCreatedCell': function (nTd, sData, oData, iRow, iCol) {
                            $(nTd).addClass('text-left');
                            $(nTd).html(
                                '<a id="downloadPdf_' + oData.quoteCode + '" href="/quote/downloadQuotePdf?quoteId='+oData.quoteId+'">'+oData.quoteCode+'</a>');
                        }
                    },
                    {
                        'title': "# Orden de Trabajo",
                        'data': 'workOrder',
                        'searchable': false,
                        'sortable': false,
                        'fnCreatedCell': function (nTd, sData, oData, iRow, iCol) {
                            $(nTd).addClass('text-left');
                            $(nTd).html(
                                '<a id="history_' + oData.quoteId + '" href="#" class="otHistory">'+oData.workOrder+'</a>');
                        }
                    },
                    {
                        'title': "Empresa",
                        'data': 'company'
                    },
                    {
                        'title': "Estado",
                        'data': 'status',
                        'className': 'text-center'
                    },
                    {
                        'title': "Fecha de Entrega",
                        'data': 'deliveryDate',
                        'className': 'text-center'
                    },
                    {
                        'title': "Di&aacute;s Restantes",
                        'data': 'daysLeft',
                        'className': 'text-right'
                    },
                    {
                        'data': null,
                        'searchable': false,
                        'sortable': false,
                        'fnCreatedCell': function (nTd, sData, oData, iRow, iCol) {
                            $(nTd).addClass('text-right');
                            $(nTd).html(
                                '<a id="update_' + oData.quoteId + '" href="#" class="btn btn-info updateDeliveryDate"><i class="mdi mdi-comment-check-outline"></i> Actualizar</a>');
                        }
                    }
                ],
                dom: "<'row'<'col-sm-3'l><'col-sm-6 botones text-center'B><'col-sm-3'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-7'i><'col-sm-5'p>>",
                buttons: [
                    {
                        extend: 'excel',
                        text: 'Excel',
                        className: 'btn btn-default',
                        title: 'Ordenes',
                        exportOptions: {
                            columns: ':visible:not(:last-child)'
                        }
                    },
                    {
                        extend: 'pdf',
                        text: 'Pdf',
                        className: 'btn btn-default',
                        title: 'Ordenes',
                        exportOptions: {
                            columns: ':visible:not(:last-child)'
                        }
                    }
                ],
                language: {
                    lengthMenu: "Mostrando _MENU_ registros por p&aacute;gina",
                    zeroRecords: "Sin resultados - lo siento!",
                    info: "Mostrando p&aacute;gina _PAGE_ de _PAGES_",
                    infoEmpty: "No hay registros disponibles",
                    search: "Buscar",
                    infoFiltered: "(filtrados de _MAX_ registros totales)",
                    paginate: {
                        previous: "Anterior",
                        next: "Siguiente"
                    }
                }
            });

            $("#quote-table tbody").on('click', 'a', function(){
                var objId = $(this).attr('id');
                var ids = objId.split("_");

                if (ids[0] == 'history') {
                    $('#quote-history').DataTable({
                        responsive: true,
                        destroy: true,
                        searching: false,
                        ajax: {
                            url: '/api/quote/history',
                            data: {quoteId: ids[1]}
                        },
                        columns: [
                            {'data': 'entryDate'},
                            {'data': 'description'},
                            {'data': 'comments'},
                            {'data': 'user'}
                        ],
                        dom: "<'row'<'col-sm-3'l><'col-sm-6 botones text-center'B><'col-sm-3'f>>" +
                            "<'row'<'col-sm-12'tr>>" +
                            "<'row'<'col-sm-7'i><'col-sm-5'p>>",
                        buttons: [
                            {
                                extend: 'excel',
                                text: 'Excel',
                                className: 'btn btn-default',
                                title: 'Detalle',
                                exportOptions: {
                                    columns: ':visible:not(:last-child)'
                                }
                            },
                            {
                                extend: 'pdf',
                                text: 'Pdf',
                                className: 'btn btn-default',
                                title: 'Detalle',
                                exportOptions: {
                                    columns: ':visible:not(:last-child)'
                                }
                            }
                        ],
                        language: {
                            lengthMenu: "Mostrando _MENU_ registros por p&aacute;gina",
                            zeroRecords: "Sin resultados - lo siento!",
                            info: "Mostrando p&aacute;gina _PAGE_ de _PAGES_",
                            infoEmpty: "No hay registros disponibles",
                            search: "Buscar",
                            infoFiltered: "(filtrados de _MAX_ registros totales)",
                            paginate: {
                                previous: "Anterior",
                                next: "Siguiente"
                            }
                        }
                    });

                    $('#quoteHistory').modal('show');
                }

                if (ids[0] == 'update') {
                    $("#quoteId").val(ids[1]);
                    $.ajax({
                        url: '/api/quote/info',
                        type: "post",
                        data: { quoteId: ids[1] },
                        dataType: "json",
                        success: function (data) {
                            $('#commentsUpdate').val('');
                            $('#deliveryDate').daterangepicker({
                                singleDatePicker: true,
                                opens: 'center',
                                startDate: data.deliveryDate,
                                endDate: data.deliveryDate,
                                locale: {
                                    format: 'DD/MM/YYYY',
                                    firstDay: 1,
                                    daysOfWeek: [
                                        "Do",
                                        "Lu",
                                        "Ma",
                                        "Mi",
                                        "Ju",
                                        "Vi",
                                        "Sa"
                                    ],
                                    monthNames: [
                                        "Enero",
                                        "Febrero",
                                        "Marzo",
                                        "Abril",
                                        "Mayo",
                                        "Junio",
                                        "Julio",
                                        "Agosto",
                                        "Septiembre",
                                        "Octubre",
                                        "Noviembre",
                                        "Diciembre"
                                    ]
                                }
                            });

                            $('#deliveryDateDialog').modal('show');
                        },
                        error: function () {
                        }
                    });
                }
            });

            $("#confirmUpdate").on('click', function(){
                $.ajax({
                    url: '/api/quote/update',
                    type: "post",
                    data: { quoteId: $("#quoteId").val(), userId: /*[[${session.username}]]*/ 'default', deliveryDate: $("#deliveryDate").val(), comments: $("#commentsUpdate").val() },
                    dataType: "json",
                    success: function (data) {
                        $('#quote-table').DataTable().ajax.reload();
                    },
                    error: function () {
                    }
                });
            });
        } );
    </script>
</th:block>
</html>