<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<th:block layout:fragment="welcome">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Cotizaci&oacute;n</a></li>
                        <li class="breadcrumb-item active">Nueva Cotizaci&oacute;n</li>
                    </ol>
                </div>
                <h4 class="page-title">Formulario de Nueva Cotizaci&oacute;n</h4>
            </div>
        </div>
        <div class="col-12">

        </div>
    </div>
</th:block>

<th:block layout:fragment="content">
    <form th:action="@{/quote/save}" method="post" th:object="${quote}">
        <input th:type="hidden" name="id" th:field="${quote.quoteId}" />
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Datos del Cliente </h4>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="taxid">Rut Cliente:</label>
                                    <input id="taxid" name="taxid" type="text" class="form-control" placeholder="Ingrese el Rut del Cliente (XX.XXX.XXX-X" th:field="${quote.company.taxId}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Nombre Cliente:</label>
                                    <input id="name" name="name" type="text" class="form-control" placeholder="Ingrese el Nombre del Cliente" th:field="${quote.company.name}">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="contact">Contacto:</label>
                                    <input id="contact" name="contact" type="text" class="form-control" placeholder="Ingrese el Contacto del Cliente" th:field="${quote.company.contact}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="phone">Tel&eacute;fono:</label>
                                    <input id="phone" name="phone" type="text" class="form-control" placeholder="T&eacute;lefono (562) XXXX XXXX" th:field="${quote.company.phone}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="cellphone">Celular:</label>
                                    <input id="cellphone" name="cellphone" type="text" class="form-control" placeholder="Celular (569) XXXX XXXX" th:field="${quote.company.cellphone}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="email">E-Mail:</label>
                                    <input id="email" name="email" type="text" class="form-control"placeholder="Ingrese el E-Mail del Cliente" th:field="${quote.company.email}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Productos y Servicios</h4>
                        <p class="text-muted font-14">
                            Ingrese el listado de productos o servicios solicitados por el cliente
                        </p>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="quantity">Cantidad:</label>
                                    <input id="quantity" name="quantity" type="text" class="form-control" placeholder="Ingrese Cantidad" th:field="${quote.quoteDetail.quantity}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="description">Descripci&oacute;n:</label>
                                    <input id="description" name="description" type="text" class="form-control" placeholder="Ingrese Descripci&oacute;n" th:field="${quote.quoteDetail.description}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="measure">Medidas:</label>
                                    <input id="measure" name="measures" type="text" class="form-control" placeholder="Ingrese Medidas" th:field="${quote.quoteDetail.measure}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="price">Precio:</label>
                                    <input id="price" name="price" type="text" class="form-control" placeholder="Ingrese Precio" th:field="${quote.quoteDetail.price}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <h4><button id="add" name="add" class="btn btn-success" style="position: relative;top:-9px;" type="submit" value="addRow">Agregar nueva linea</button></h4>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table id="cotizaciones-table" class="table mt-4">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Cantidad</th>
                                                <th>Descripci&oacute;n</th>
                                                <th>Medidas</th>
                                                <th class="text-right">Precio</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="detail, iter : ${quote.quoteDetailsList}">
                                                <input type="hidden" th:field="${quote.quoteDetailsList[__${iter.index}__].quantity}"/>
                                                <input type="hidden" th:field="${quote.quoteDetailsList[__${iter.index}__].description}"/>
                                                <input type="hidden" th:field="${quote.quoteDetailsList[__${iter.index}__].measure}"/>
                                                <input type="hidden" th:field="${quote.quoteDetailsList[__${iter.index}__].price}"/>
                                                <td th:text="${iter.index + 1}"/>
                                                <td th:text="${detail.quantity}"/>
                                                <td th:text="${detail.description}"/>
                                                <td th:text="${detail.measure}"/>
                                                <td th:text="${detail.price}"/>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Textos Adicionales</h4>
                        <p class="text-muted font-14 mb-3">
                            Ingrese indicaciones o textos adicionales a fines a la cotizaci&oacute;n
                        </p>

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="reference">Referencia:</label>
                                    <input id="reference" name="reference" type="text" class="form-control" placeholder="Ingrese las Referencias" th:field="${quote.reference}">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="manufacture">Por la fabricaci&oacute;n de:</label>
                                    <input id="manufacture" name="manufacture" type="text" class="form-control" placeholder="Ingrese datos adicionales referentes a la fabricaci&oacute;n" th:field="${quote.manufacture}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="paymentType">Forma de Pago:</label>
                                    <select id="paymentType" name="paymentType" class="form-control" th:field="${quote.paymentType}">
                                        <option th:each="item : ${ T(com.zetalabs.indumelec.model.types.PaymentType).values() }" th:value="${item}" th:text="${item.description}"/>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="otherPayment">Pago Especial:</label>
                                    <input id="otherPayment" name="otherPayment" type="text" class="form-control" placeholder="Ingrese el detalle del pago especial" th:field="${quote.otherPayment}">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="deliveryType">Entrega:</label>
                                    <select id="deliveryType" name="deliveryType" class="form-control" th:field="${quote.deliveryType}">
                                        <option th:each="item : ${ T(com.zetalabs.indumelec.model.types.DeliveryType).values() }" th:value="${item}" th:text="${item.description}"/>
                                    </select>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="comments">Comentarios:</label>
                                    <input id="comments" name="comments" type="text" class="form-control" placeholder="Comentarios de la forma de Pago" th:field="${quote.comments}">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="deliveryDate">Fecha Entrega:</label>
                                    <input type="text" class="form-control date" id="deliveryDate" name="deliveryDate" data-toggle="date-picker" data-single-date-picker="true" th:field="${quote.deliveryDateStr}" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="partialDelivery">Entregas Parciales:</label>
                                    <input id="partialDelivery" name="partialDelivery" type="text" class="form-control" placeholder="Detalle de Entregas Parciales" th:field="${quote.partialDelivery}">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="deliveryLocation">Lugar entrega especial:</label>
                                    <input id="deliveryLocation" name="deliveryLocation" type="text" class="form-control" placeholder="Ingrese el detalle del pago especial" th:field="${quote.deliveryLocation}">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="invoice">Facturar por:</label>
                                    <select id="invoice" name="invoice" class="form-control" th:field="${quote.invoice}">
                                        <option th:each="item : ${ T(com.zetalabs.indumelec.model.types.InvoiceType).values() }" th:value="${item}" th:text="${item.description}"/>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="signature">Firma:</label>
                                    <select id="signature" name="signature" class="form-control" th:field="${quote.signature}">
                                        <option th:each="item : ${ T(com.zetalabs.indumelec.model.types.SignatureType).values() }" th:value="${item}" th:text="${item.description}"/>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <button id="save" name="save" class="btn btn-success" type="submit" value="save" th:text="'Guardar Nueva Cotizaci&oacute;n'"/>
                                </div>
                            </div>
                            <div class="col-3" sec:authorize="hasAuthority('Admin')">
                                <div class="form-group">
                                    <a th:href="@{/admin/dashboard}" class="btn btn-danger">Descartar Datos no guardados</a>
                                </div>
                            </div>
                            <div class="col-3" sec:authorize="hasAuthority('User')">
                                <div class="form-group">
                                    <a th:href="@{/user/dashboard}" class="btn btn-danger">Descartar Datos no guardados</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</th:block>

<th:block layout:fragment="script">
    <script>
        $(document).ready(function() {
            initPaymentType();
            initDeliveryType();

            $("#taxid").change(function() {
                $.ajax({
                    url: '/api/company/search',
                    type: "post",
                    data: { taxId: $("#taxid").val() },
                    dataType: "json",
                    success: function (data) {
                        $("#name").val(data.name);
                        $("#contact").val(data.contact);
                        $("#phone").val(data.phone);
                        $("#cellphone").val(data.cellphone);
                        $("#email").val(data.email);
                    },
                    error: function () {
                        $("#name").val('');
                        $("#contact").val('');
                        $("#phone").val('');
                        $("#cellphone").val('');
                        $("#email").val('');
                    }
                });
            });

            $("#paymentType").change(function() {
                initPaymentType();
            });

            $("#deliveryType").change(function() {
                initDeliveryType();
            });

            $('#deliveryDate').daterangepicker({
                singleDatePicker: true,
                opens: 'center',
                startDate: moment().startOf('day').format('dd/MM/yyyy'),
                endDate: moment().endOf('day').format('dd/MM/yyyy'),
                locale: {
                    format: 'DD/MM/YYYY',
                    firstDay: 1,
                    daysOfWeek: [
                        "Do",
                        "Lu",
                        "Ma",
                        "Mi",
                        "Ju",
                        "Vi",
                        "Sa"
                    ],
                    monthNames: [
                        "Enero",
                        "Febrero",
                        "Marzo",
                        "Abril",
                        "Mayo",
                        "Junio",
                        "Julio",
                        "Agosto",
                        "Septiembre",
                        "Octubre",
                        "Noviembre",
                        "Diciembre"
                    ]
                }
            });

            $('#cotizaciones-table').DataTable( {
                responsive: true,
                /*dom: 'Bfrtip',*/
                dom:"<'row'<'col-sm-3'l><'col-sm-6 botones text-center'B><'col-sm-3'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-7'i><'col-sm-5'p>>",
                buttons: [
                    'copy', 'excel', 'pdf'
                ], "language": {
                    "lengthMenu": "Mostrando _MENU_ registros por p&aacute;gina",
                    buttons: {
                        copy: 'Copiar'
                    },
                    "zeroRecords": "Sin resultados - lo siento!",
                    "info": "Mostrando p&aacute;gina _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros disponibles",
                    "search": "Buscar",
                    "infoFiltered": "(filtrados de _MAX_ registros totales)",
                    "paginate": {
                        "previous": "Anterior",
                        "next": "Siguiente"
                    }
                }
            });
        } );

        function initPaymentType(){
            var selectedPaymentType = $("#paymentType").val();

            if (selectedPaymentType=='DEFAULT') {
                $("#otherPayment").prop('disabled', false);
            } else {
                $("#otherPayment").prop('disabled', true);
            }
        }

        function initDeliveryType(){
            var selectedDeliveryType = $("#deliveryType").val();

            if (selectedDeliveryType=='DEFAULT') {
                $("#comments").prop('disabled', false);
            } else {
                $("#comments").prop('disabled', true);
            }
        }
    </script>
</th:block>
</html>